<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения по использованию преобразования web.config см. по ссылке http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="WebApplication2" 
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Users\1\documents\visual studio 2010\Projects\WebApplication2\WebApplication2\App_Data\NetDB.mdf';Integrated Security=True;User Instance=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      
    </connectionStrings>
  
</configuration>
